name : dotnet-lucene-search

trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

variables:
  tag: '$(Build.BuildId)'
  workingDirectory: '$(System.DefaultWorkingDirectory)/4-Faceting/'

stages:
- stage: Build
  displayName: Build image
  jobs:
  
  - job: Build
    displayName: Build and push docker image
    steps:
    - task: CmdLine@2
      inputs:
        script: dir
        workingDirectory: $(workingDirectory) 
    - task: Docker@2
      displayName: Build the docker image
      inputs:
        command: build
        Dockerfile: $(workingDirectory)/Dockerfile-Faceting
        containerRegistry: dockerhub-connection
        repository: thbst16/dotnet-lucene-search
        tags: |
          $(Build.BuildId)
          latest
        arguments: --pull
    - task: Docker@2
      displayName: Push the image to Dockerhub
      inputs:
       command: push
       containerRegistry: dockerhub-connection
       repository: thbst16/dotnet-lucene-search
       tags: |
         $(Build.BuildId)
         latest

- stage: Deploy
  displayName: Deploy docker container
  dependsOn: Build
  jobs:

  - job: Deploy
    displayName: Deploy the container to Azure Web App using Docker Compose
    steps:
    - task: CmdLine@2
      inputs:
        script: dir
        workingDirectory: $(workingDirectory) 
    - task: AzureWebAppContainer@1
      displayName: Deploy the docker image
      inputs:
        azureSubscription: azure-connection
        appName: dotnet-lucene-search
        multicontainerConfigFile: $(workingDirectory)/docker-compose-faceting.yml